{% comment %}Announcement Marquee - NANO Front 2026{% endcomment %}

<div class="announcement-marquee" role="region" aria-label="Anuncios">
  <div class="announcement-marquee__track" aria-hidden="true">
    <span class="announcement-marquee__item">TECNOLOGIA DE CALIDAD AL MEJOR PRECIO</span>
    <span class="announcement-marquee__item">ENVIOS A TODO EL PAIS</span>
    <span class="announcement-marquee__item">30 DIAS PARA DEVOLUCIONES</span>
    <span class="announcement-marquee__item">MAS DE 5,000 CLIENTES FELICES</span>
    <span class="announcement-marquee__item">TECNOLOGIA DE CALIDAD AL MEJOR PRECIO</span>
    <span class="announcement-marquee__item">ENVIOS A TODO EL PAIS</span>
    <span class="announcement-marquee__item">30 DIAS PARA DEVOLUCIONES</span>
    <span class="announcement-marquee__item">MAS DE 5,000 CLIENTES FELICES</span>
  </div>
</div>
