{% comment %}Announcement Marquee - NANO Clean v4.0{% endcomment %}

<div class="announcement-marquee" role="region" aria-label="Anuncios">
  <div class="announcement-marquee__track" aria-hidden="true">
    <span class="announcement-marquee__item">Tecnología de calidad al mejor precio</span>
    <span class="announcement-marquee__item">Envíos a todo el país</span>
    <span class="announcement-marquee__item">30 días para devoluciones</span>
    <span class="announcement-marquee__item">Más de 5,000 clientes felices</span>
    <span class="announcement-marquee__item">Tecnología de calidad al mejor precio</span>
    <span class="announcement-marquee__item">Envíos a todo el país</span>
    <span class="announcement-marquee__item">30 días para devoluciones</span>
    <span class="announcement-marquee__item">Más de 5,000 clientes felices</span>
  </div>
</div>
